body {
    margin: 0px;
}

.main {
    padding: 20px;
}

.header {
    background: whitesmoke;
    padding: 20px 0px;
    text-align: center;
}

.commit-container  {
    max-width: 50%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    font-family: sans-serif;
}

input {
    padding: 10px;
    min-width: 20%;
    margin-right: 20px;
    margin-bottom: 20px;
}

button {
    padding: 8px 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
}